.projectContainer {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: center;
}

.containerBox {
	position: relative;
	cursor: pointer;
}

.overlay {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.containerBox:hover .project-pictures {
	opacity: 0.3;
}

.containerBox:hover .middle {
	opacity: 1;
}

.project-pictures {
	opacity: 1;
	display: block;
	width: 25em;
	height: 15em;
	border: 5px solid black;
	object-fit: cover;
	transition: .5s ease;
	backface-visibility: hidden;
}

#project-title {
	color: orange;
	margin: 1em;
	border-bottom: .35rem solid rgba(0, 0, 0, .4);
	text-align: center;
}

.project-links {
	opacity: 1;
	position: absolute;
	background-color: transparent;
	color: white;
	width: 100%;
	margin: 0.2em;
	font-size: 1.5em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	text-transform: capitalize;
	border-radius: 1em;
	border: 0.1em solid white;
	text-decoration: none;
}

button:hover {
	background-color: white;
	color: black;
}
