.skills-title {
    color: orange;
}

.tools {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools li {
    display: inline;
    color: rgb(243, 206, 151);
    list-style-type: none;
    font-size: 5em;
    align-items: center;
    justify-content: center;
}