.tools {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools li {
    display: inline;
    list-style-type: none;
    font-size: 5em;
    align-items: center;
    justify-content: center;
}