.about {
	background: rgb(153, 58, 58);
    height: 40vh;
}

.about-title {
    color: white;
    font-weight: 600;
    margin: 0 0 8px 0;
    
}

.aboutContent {
    padding: 8px 0;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    text-align: center;
}

svg {
    pointer-events: none;
}