#about {
	background: #f4f4f4;
	min-height: 30vh;
	padding: 2em;
	width: 100%;
	word-wrap: break-word;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	background-color: #44355b;
	background-image: linear-gradient(315deg, #44355b 0%, #ececec 74%);
}

.about-title {
	color: black;
	font-weight: 800;
	margin: 0 0 8px 0;
}

.aboutContent {
	font-size: 1.4rem;
	font-weight: 700;
	justify-content: center;
}
