.intro {
	display: grid;
	background-image: url(laptop2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 120em;
	min-height: 90vh;
	align-items: center;
}

#portfolioButton {
	display: grid;
	width: 7em;
	font-size: 1.5em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
    text-transform: capitalize;
	border-radius: 1em;
	border: 0.1em solid black;
	margin-bottom: 2em;
	text-decoration: none;
	align-items: center;
	background-color: #f8ceec;
	background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
	-webkit-transition: background-color 3s ease-out;
	-moz-transition: background-color 3s ease-out;
	-o-transition: background-color 3s ease-out;
	transition: background-color 3s ease-out;
}

#portfolioButton:hover {
	background: white;
}

.portfolioButtonContainer {
	display: grid;
	justify-content: center;
}

.Typewriter {
	-webkit-text-stroke: 1.1px white; /* width and color */
	color: white;
    margin: 2vw auto;
	font-family: "Times New Roman", Times, serif;
	font-size: clamp(30px, 5vw, 50px);
	font-weight: 700;
	line-height: 1.0;
	text-align: center;
	width: 100%;
	height: clamp(90px, 31.5vw, 202.5px);
}

#contact-title {
	color: white;
	font-weight: 600;
}

.Github {
	color: black;
}

.contactButtons {
	background: none;
}

.Linkedin {
	
	color: rgb(13, 105, 224);
}

#icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 4.5em;
  margin: 0.5em;
}