

.intro {
	display: grid;
	background-image: url(./images/nightSky.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 120em;
	min-height: 99vh;
	align-items: center;
}

#portfolioButton {
	display: grid;
	width: 8em;
	height: 2em;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
    text-transform: capitalize;
	border-radius: 1em;
	border: 0.1em solid white;
	margin-bottom: 2em;
	text-decoration: none;
	align-items: center;
	background-color:transparent;
	color: white;
	transition-property: background-color, color;
	transition-duration: 750ms;
	opacity: 0;
    animation: appear 1s linear forwards;
    animation-delay: 4.5s;
}

@keyframes appear {
	100% {
		opacity: 1;
	}
}

#portfolioButton:hover {
	background-color:white;
	color: black;
}

.portfolioButtonContainer {
	display: grid;
	justify-content: center;
}

.Typewriter {
	-webkit-text-stroke: 1.1px white; /* width and color */
	color: white;
    margin: 5vw auto;
	font-family: "Times New Roman", Times, serif;
	font-size: clamp(30px, 5vw, 50px);
	font-weight: 700;
	text-align: center;
	width: 100%;
	height: clamp(90px, 31.5vw, 202.5px);
}

#contact-title {
	color: white;
	font-weight: 600;
}

.Github {
	color: black;
}

.contactButtons {
	background: none;
}

.Linkedin {
	color: rgb(13, 105, 224);
}

#icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 4.5em;
  margin: 0.5em;
  opacity: 0;
  animation: appear 1s linear forwards;
  animation-delay: 3.5s;
}