body {
	background: black;
}
.intro {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Typewriter {
	-webkit-text-stroke: 1.1px white; /* width and color */
	color: white;
	margin: auto;
	font-family: "Times New Roman", Times, serif;
	font-size: clamp(30px, 5vw, 60px);
	line-height: 1.1;
	text-align: center;
	width: 95%;
	height: clamp(90px, 31.5vw, 202.5px);
}