.navbar {
	display: block;
}

.topnav a {
	color: white !important;
}

.topnav {
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-end;
}

.topnav ul li {
	display: flex;
	font-size: 2em;
	justify-content: center;
}

.topnav a:hover {
	color:orange !important;
}