* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background: #f6f9fc;
	font-family: "Open Sans", sans-serif;
	color: #525f7f;
}

a {
	text-decoration: none;
}

h1 {
	color: orange;
	margin: 1em;
	border-bottom: .35rem solid rgba(0, 0, 0, .4);
	text-align: center;
	font-weight: 700;
}